<html>
  <head>
    <title>htmx crd</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  </head>
  <body>
    <h1>Books </h1>
    <form
      hx-post="/book"
      hx-disabled-elt="#add-btn"
      hx-target="table tbody"
      hx-swap="afterbegin"
      hx-on:htmx:after-request="this.reset()">
      <div>
        <label for="name">Name</label>
        <input id="name" name="name" required size="30" type="text" />
      </div>
      <div>
        <label for="author">Author</label>
        <input id="author" name="author" required size="30" type="text" />
      </div>
      <div>
        <label for="yearPublished">Published</label>
        <input id="yearPublished" name="yearPublished" size="5" type="text" />
      </div>
      <button id="add-btn">Add</button>
    </form>

    <table hx-get="/table-rows" hx-target="tbody" hx-trigger="revealed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Published</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <button hx-get="/version" hx-target="#version">Get HTMX Logo</button>
    <div id="version"></div>

  </body>
</html>